<div class="hobby_info">
    <span class="hobby_info">{{#str}}completed_hobbies, mod_hobby{{/str}}: </span>
    <span class="hobby_info">{{completedcount}}</span>

    {{#items}}
        <div style="padding:10px 0;">
            <div>Student: <b>{{fullname}}</b></div>
            <div>{{#str}}hobbyname, mod_hobby{{/str}}: {{name}}</div>
            <div>{{#str}}hobbyemail, mod_hobby{{/str}}: {{email}}</div>
            <div>{{#str}}hobbyphone, mod_hobby{{/str}}: {{phone}}</div>
            <div>{{#str}}hobbyintro, mod_hobby{{/str}}: {{intro}}</div>
        </div>
    {{/items}}

</div>

